* {
    margin: 0;
}

.sidebar {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px repeat(5, 50px) 100px repeat(3, 50px);
    background-color: #03adfc;
    color: white;
    grid-row: 1 / 3;
}

.content {
    background-color: red;
    grid-column: 2;
}

.header {
    background-color: grey;
    grid-column: 2 / 3;
}
.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px;
    height: 100vh;
}

.icon {
    justify-self: end;
    padding-right: 25px;
}

