@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.sidebar {
    display: grid;
    grid-template-columns:  100px 1fr;
    grid-template-rows: 120px repeat(6, 50px) 30px repeat(3, 50px);
    background-color: #03adfc;
    color: white;
    grid-row: 1 / 3;
    font-size: 1.5rem;
    font-weight: bold;
}

.header {
    background-color: grey;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-column: 2 / 3;
}
.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px;
    height: 100vh;
}

.icon {
    justify-self: end;
    padding-right: 25px;
}

.search {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.user-info {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
}

.welcome {
    display: grid;
    grid-template-columns: 100px 200px;
}

.buttons {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    height: min-content;
}

button {
    width: 75px;
}

.username {
    grid-column: 2;
}

.content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: lightgrey;
    padding: 50px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 40px;
    grid-row: 1 / 3;
}

.card {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.announcements {
    border: 1px solid black;
}

.trending {
    border: 1px solid black;
}

img {
    filter: invert(100%);
    width: auto;
    height: 25px;
    align-self: center;
}

.sidebar div {
    align-self: center;
}

.dashboard {
    font-size: 1.8rem;
}

.dashboard-icon {
    height: 50px;
    width: auto;
    align-self: center;
    padding-right: 10px;
}

.empty {
    grid-column: 1 / 3;
}
